@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bem vindos ao AllAboutOO</h1>
    <p class="lead">AllAboutOO é um site onde você encontra tudo relacionado a Orientação a Objetos utilizando C#</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Índice</h2>
        <p>Clique no link para carregar o conteúdo:</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul>
            <li>@Html.ActionLink("1 - Conceito Orientação a Objetos", "ConceitosOO", "Home")</li>
            <li>2 - Classes e Métodos </li>
        </ul>
    </div>
</div>